<div class="show">
  <div class="show-header">
    <h1><%= @user.symmetry %></h1>
    <%= link_to image_tag('https://free-designer.net/design_img/0929085007.jpg', {:class => "return",:border => '0', :alt => ''}), root_path %>
    <a class="icon" href="https://www.youtube.com/channel/UCx1nAvtVDIsaGmCMSe8ofsQ">
      <img src="https://yt3.ggpht.com/a/AGF-l78c1NZxkQXjp5PMBIOgh-j9RCfNCfYB5VI-ZQ=s176-c-k-c0x00ffffff-no-rj-mo" class="channel-icon" alt="加藤純一">
    </a>
    <p class="location-navi">チャンネルはこちら</p>
    <img src="http://freeiconbox.com/icon/256/33304.png" class="location-sign" alt="加藤純一">
  </div>
  <div class="show-wrapper">
    <div class="show-content">
      <img id="user-image" src="<%= @user.image %>">
      <div class="show-show">
        <div class="show-show2">
          <h1><%= @user.name %></h1>
          <div class="show-channel">
            <h2>チャンネル登録者数 : </h2>
          </div>
          <p>今をときめくイケメンYoutuber</p>
          <div class="d">
            <div class="chara-icon">
              <img class="left-chara" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png" alt="うんこ君" href="posts/show">
            </div>
            <div class="chara-icon-name-left">うんこ君</div>
            <div class="chara-balloon">
              <div class="chara-balloon-content">
                こんにちは
              </div>
            </div>
          </div>
          <div class="d2">
            <div class="chara-icon">
              <img class="right-chara" src="https://www.nintendo.co.jp/switch/ah26a/assets/images/top/visual_chara08.png" alt="カービィ" href="posts/show">
            </div>
            <div class="chara-icon-name-right">カービィ</div>
            <div class="chara-balloon-right">
              <div class="chara-balloon-content">
                こんにちは
              </div>
            </div>
          </div>
          <div class="d">
            <div class="chara-icon">
              <img class="left-chara" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png" alt="うんこ君" href="posts/show">
            </div>
            <div class="chara-icon-name-left">うんこ君</div>
            <div class="chara-balloon">
              <div class="chara-balloon-content">
                こんにちは
              </div>
            </div>
          </div>
          <div class="d2">
            <div class="chara-icon">
              <img class="right-chara" src="https://www.nintendo.co.jp/switch/ah26a/assets/images/top/visual_chara08.png" alt="カービィ" href="posts/show">
            </div>
            <div class="chara-icon-name-right">カービィ</div>
            <div class="chara-balloon-right">
              <div class="chara-balloon-content">
                こんにちは
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yutuber-video-ranking-title">
    <h1>おすすめ動画ランキング</h1>
  </div>
  <div class="yutube-video-ranking">
    <div class="rank-header">
      <h1 class="rank1">第一位</h1>
      <input class="close-btn" type="button" value="閉じる">
    </div>
    <div class="yutube-video-comment">
      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/5NAwiQwUKWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-comment-run">
        <h2>管理人コメント</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
        <div class="video-comment">
        </div>
      </div>
    </div>
    <div class="rank-header">
      <h1 class="rank2">第二位</h1>
    </div>
    <div id="yutube-video-comment-sub" class="sub2">
      <div class="yutube-video-comment2">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/5NAwiQwUKWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-comment-run">
          <h2>管理人コメント</h2>
          <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          <div class="video-comment">
          </div>
        </div>
      </div>
    </div>
    <div class="rank-header">
      <h1 class="rank3">第三位</h1>
    </div>
    <div id="yutube-video-comment-sub" class="sub3">
      <div class="yutube-video-comment2">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/5NAwiQwUKWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-comment-run">
          <h2>管理人コメント</h2>
          <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          <div class="video-comment">
          </div>
        </div>
      </div>
    </div>
    <div class="rank-header">
      <h1 class="rank4">第四位</h1>
    </div>
    <div id="yutube-video-comment-sub" class="sub4">
      <div class="yutube-video-comment2">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/5NAwiQwUKWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-comment-run">
          <h2>管理人コメント</h2>
          <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          <div class="video-comment">
          </div>
        </div>
      </div>
    </div>
    <div class="rank-header">
      <h1 class="rank5">第五位</h1>
    </div>
    <div id="yutube-video-comment-sub" class="sub5">
      <div class="yutube-video-comment2">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/5NAwiQwUKWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-comment-run">
          <h2>管理人コメント</h2>
          <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          <div class="video-comment">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>