<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
    <script src=""></script>
    <script src=""></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>