<div class="app-wrapper">
  <header>
    <h1>初期設定</h1>
  </header>
  <div class="app-contents">
    <div class="app-contents-sss">
      <div class="app-contents-sub">
        <p>d</p>
      </div>
      <div class="app-contents-sub2">
        <p>d</p>
      </div>
    </div>
    <div class="app-contents-sss">
      <div class="app-contents-sub">
        <p>d</p>
      </div>
      <div class="app-contents-sub2">
        <p>d</p>
      </div>
    </div>
    <ul id="nav">
      <li><a href="#">MENU1</a></li>
      <li><a href="#">MENU2</a></li>
      <li><a href="#">MENU3</a></li>
      <li><a href="#">MENU4</a></li>
    </ul>
  </div>
</div>