<div class="app-wrapper">
  <header>
    <h1>初期設定</h1>
  </header>
  <div class="app-contents">
    <div class="nnn">
      <div class="app-contents-sss">
        <div class="app-contents-sub">
          <p id="play">韓国人</p>
          <%# <audio id="sound" controls>
          <source src="sample.wav">
          </audio> %>
          <%# <iframe src="sample/sample.ogg" id="sound" allow="autoplay" style="display:none"></iframe> %>
          <audio id='sound' preload="auto" src="https://doc-08-04-docs.googleusercontent.com/docs/securesc/jnnmcgpnhovk2h5c1lbs1606b16v3q7l/lu7jmpm1pkslbkn85lgde2l599f7isc2/1569902400000/15778955479322778581/05483003997726360300/133iee8QnSQd5mf5yRL0Y3h0VQ5_hp2uO?e=download" type="audio/mp3"></audio>
        </div>
        <div class="app-contents-sub2">
          <p>d</p>
        </div>
      </div>
      <div class="app-contents-sss">
        <div class="app-contents-sub">
          <p>d</p>
        </div>
        <div class="app-contents-sub2">
          <p>d</p>
        </div>
      </div>
    </div>
    <ul id="nav">
      <li id="menu1"><a>MENU1</a></li>
      <li id="menu2"><a>MENU2</a></li>
      <li><a href="#">MENU3</a></li>
      <li><a href="#">MENU4</a></li>
    </ul>
  </div>
</div>