<div class="main-post-yutuber-run">
    <div class="main-post-yutuber">
      <h3>ヒカキン</h3>
      <div class="main-post-yutuber-image">
         <%= link_to image_tag('https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20190426%2F78%2F7839078%2F37%2F333x500xb224d6aee848e165506ce3ee.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r', {:width => '256.88', :border => '0', :alt => '加藤純一'}), post_users_path(@post1.user_id) %>
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>娯楽#ゲーム</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>セイキン</h3>
      <div class="main-post-yutuber-image">
        <%= link_to image_tag('http://youtuberの壺.com/wp-content/uploads/2018/03/d0ff82cb6d003e6fdbd436aef032ab73-769x1024.jpg', {:width => '256.88', :border => '0', :alt => 'ゆゆうた'}), post_users_path(@post2.user_id) %>
        <%# <img src="https://yt3.ggpht.com/a/AGF-l7-gG8cb0NXNhMcP4iVINu4c8oDq2r1uUYCzjw=s900-c-k-c0xffffffff-no-rj-mo" width="256.88"> %>
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>音楽#娯楽</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>フィッシャーズ</h3>
      <div class="main-post-yutuber-image">
        <img src="https://i.pinimg.com/originals/4a/27/4e/4a274eff5e207d8ba41ac2f20af07d84.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>娯楽#ゲーム</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>レペゼン地球</h3>
      <div class="main-post-yutuber-image">
        <img src="https://pbs.twimg.com/media/EDEbv9jUwAAeXtX.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>雑談#娯楽</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>シバター</h3>
      <div class="main-post-yutuber-image">
        <img src="http://meetia.net/wp-content/uploads/2018/01/22310b1aa861adaf9eb010dede0e87d6-225x300.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>娯楽#雑談</p>
      </div>
    </div>
  </div>