<div class="main-post-yutuber-run">
    <div class="main-post-yutuber">
      <h3>関根りさ</h3>
      <div class="main-post-yutuber-image">
         <%= link_to image_tag('https://geinou-soul.com/wp-content/uploads/2017/06/2017-06-01-22-27-13.jpg', {:width => '256.88', :border => '0', :alt => '加藤純一'}), post_users_path(@post1.user_id) %>
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>娯楽#メイク</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>ゆきりぬ</h3>
      <div class="main-post-yutuber-image">
        <%= link_to image_tag('https://trend-hoyahoya.com/wp-content/uploads/2017/12/cats2-5.jpg', {:width => '256.88', :border => '0', :alt => 'ゆゆうた'}), post_users_path(@post2.user_id) %>
        <%# <img src="https://yt3.ggpht.com/a/AGF-l7-gG8cb0NXNhMcP4iVINu4c8oDq2r1uUYCzjw=s900-c-k-c0xffffffff-no-rj-mo" width="256.88"> %>
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>雑談#娯楽</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>本田翼</h3>
      <div class="main-post-yutuber-image">
        <img src="http://news.merumo.ne.jp/articleimg/8244199/0" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>ゲーム</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>きりたんぽ</h3>
      <div class="main-post-yutuber-image">
        <img src="https://i.pinimg.com/originals/cc/8d/4d/cc8d4ddad9cbfec4f4bb18d8995c9411.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>雑談#娯楽</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>さくまみお</h3>
      <div class="main-post-yutuber-image">
        <img src="https://pbs.twimg.com/media/EDYDmr2VUAA_Vsb.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>コスプレ#娯楽</p>
      </div>
    </div>
  </div>