<div class="month-wrapper">
  <div class="month-header">
    <div class="month-header-sub">
      <span class="month-archive">― ARCHIVES ―</span>
      <h1 class="month-month">2019年 5月</h1>
    </div>
  </div>
  <div>
</div>
<% @p.each do |p| %>
  <h1><%= p.title %></h1>
<% end %>
