<nav class="a">
  <div class="icon-group">
    <a class="icon" href="https://twitter.com/unkochan1234567">
      <img src="https://unkapp.com/images/twitter.png" alt="Twitter">
    </a>
    <a class="icon" href="https://www.youtube.com/channel/UCx1nAvtVDIsaGmCMSe8ofsQ">
      <img src="https://unkapp.com/images/youtube.png">
    </a>
  </div>
</nav>
<div class="b-c-d">
  <div class="b">
    <h1>ようこそ</h1>
  </div>
  <div class="c">
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
  </div>
  <div class="d">
    <div class="chara-icon">
      <img src="https://sarukun-blog.com/wp-content/uploads/2019/08/IMG_8267.png" alt="サル君" href="posts/show">
    </div>
    <div class="chara-icon-name">サル君</div>
    <div class="chara-balloon">
      <div class="chara-balloon-content">
        こんにちは
      </div>
    </div>
  </div>
</div>
<div class="e">
  <div class="main-post-header">
    <h1>作品</h1>
  </div>
  <div class="main-post-yutuber-run">
    <div class="main-post-yutuber">
      <h3>加藤純一</h3>
      <div class="main-post-yutuber-image">
         <%= link_to image_tag('https://game.watch.impress.co.jp/img/gmw/docs/1193/420/001_l.jpg', { :border => '0', :alt => '加藤純一'}), posts_path(@post) %>
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>ゲーム#雑談</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>ゆゆうた</h3>
      <div class="main-post-yutuber-image">
        <img src="https://yt3.ggpht.com/a/AGF-l7-gG8cb0NXNhMcP4iVINu4c8oDq2r1uUYCzjw=s900-c-k-c0xffffffff-no-rj-mo" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>音楽#雑談</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>堀江貴文</h3>
      <div class="main-post-yutuber-image">
        <img src="https://d2oe4hwshyef6j.cloudfront.net/production/uploads/image/series_thumbnail/image/111473/d6a5801dfc90dc680a077411d55693ddeea85ba7" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>ビジネス#雑談</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>マコなり社長</h3>
      <div class="main-post-yutuber-image">
        <img src="https://tech-camp.in/note/wp-content/uploads/2019/08/mako-square.png" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>ビジネス</p>
      </div>
    </div>
    <div class="main-post-yutuber">
      <h3>外人のジョン</h3>
      <div class="main-post-yutuber-image">
        <img src="https://nancreator.com/wp-content/uploads/2017/07/2017y07m27d_131814317.jpg" width="256.88">
      </div>
      <div class="main-post-yutuber-style">
        <h5>カテゴリ</h5>
        <p>アニメ雑学#雑談</p>
      </div>
    </div>
  </div>
  <div class="main-post">
    <h3>タイトル</h3>
    <a href="#"></a>
    <div class="main-post-content">内容</div>
    <div class="main-post-comment">コメント</div>
  </div>
</div>
<div class="f"></div>
<div class="g"></div>
