<div class="quiz_area">
    <div class="quiz_set"><!-- 追加 回答中の表示 -->
      第<span class="quiz_no">1</span>問
      <div class="quiz_question">ここに問題文が入りますここに問題文が入りますここに問題文が入りますここに問題文が入りますここに問題文が入ります</div>
      <div class="quiz_ans_area">
        <ul>
          <li>選択肢1</li>
          <li>選択肢2</li>
          <li>選択肢3</li>
          <li>選択肢4</li>
        </ul>
      </div>
      <div class="quiz_area_bg"></div><!-- 追加 画面に被せる黒背景 -->
      <div class="quiz_area_icon"></div><!-- 追加 マルorバツを中央に表示させるエリア -->
    </div>
    <div class="quiz_result"></div><!-- 追加 クイズ終了後の表示 -->
</div>